ProzoroMonitor.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "53728661-acc9-4c0a-b675-166348d24011",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [-1120, 80]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "467d858c-7568-4d13-ab75-77a3081ff7db",
      "name": "Run every hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-928, 80]
    },
    {
      "parameters": {
        "url": "=https://public-api-sandbox.prozorro.gov.ua/api/2.5/tenders?offset={{ $('Get Last Sync Date').item.json.lastSyncDate }}",
        "options": {
          "pagination": {}
        }
      },
      "id": "25c02b3c-f716-4743-8230-c995047fd391",
      "name": "HTTP Request: Get Tender List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-528, 80]
    },
    {
      "parameters": {
        "url": "=https://public-api-sandbox.prozorro.gov.ua/api/2.5/tenders/{{ $json.id }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "id": "5f2495e0-af62-4794-b3a0-6c576c003e2d",
      "name": "HTTP Request: Get Tender Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-48, 80]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.procuringEntity.address.region }}",
              "operation": "contains",
              "value2": "Київ"
            }
          ],
          "number": [
            {
              "value1": "={{ $json.data.value.amount }}",
              "operation": "larger",
              "value2": 50000
            }
          ]
        }
      },
      "id": "068525b5-c587-4b8e-9169-b4df0c68da8c",
      "name": "Filter by Region & Value",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [256, 80]
    },
    {
      "parameters": {
        "jsCode": "const workflowStaticData = $getWorkflowStaticData('global');\nconst lastItem = $items.at(-1);\nworkflowStaticData.lastSyncDate = lastItem.json.data.dateModified;\nreturn items;"
      },
      "id": "1b70092b-fd62-4d2a-947b-6a9b87e69834",
      "name": "Save Last Sync Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [608, -96]
    },
    {
      "parameters": {
        "jsCode": "// Получаем объект статических данных с помощью новой функции\nconst staticData = $getWorkflowStaticData('global');\n\n// Получаем дату, обращаясь к свойству напрямую\nconst lastSyncDate = staticData.lastSyncDate || '2000-01-01T00:00:00';\n\n// Возвращаем результат для следующего узла\nreturn { lastSyncDate };"
      },
      "id": "dbbbd01a-9753-4214-a894-3b821ed7e774",
      "name": "Get Last Sync Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 80]
    },
    {
      "parameters": {
        "chatId": "-1002767927753",
        "text": "=*Новий тендер!*\n\n*Назва:* {{$json.data.title}}\n\n*Бюджет:* {{$json.data.value.amount}} {{$json.data.value.currency}}\n*Посилання:* https://prozorro.gov.ua/tender/{{$json.data.id}}",
        "additionalFields": {}
      },
      "id": "bf127051-f58c-4a7e-aea5-ffd6ea45f629",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [608, 32],
      "webhookId": "d0bd22d6-4bc8-4f6f-9c13-b9a58741468b",
      "credentials": {
        "telegramApi": {
          "id": "LuJyyclSEglS2sAm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-320, 80],
      "id": "73aa58df-b618-41b5-873e-a40ee64ce21e",
      "name": "Split Out"
    }
  ],
  "connections": {
    "Run every hour": {
      "main": [
        [
          {
            "node": "Get Last Sync Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Get Tender List": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Get Tender Details": {
      "main": [
        [
          {
            "node": "Filter by Region & Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Region & Value": {
      "main": [
        [
          {
            "node": "Save Last Sync Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Sync Date": {
      "main": [
        [
          {
            "node": "HTTP Request: Get Tender List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request: Get Tender Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b5da3b60b2aef7f21cd63bb95b2dbf30be48f0e39c2c264cd2d36f457483d3a4"
  }
}
